@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for dark mode */
.dark ::-webkit-scrollbar {
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #181A20;
}

.dark ::-webkit-scrollbar-thumb {
  background: #2A2D34;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #2E8AF6;
}

